<!--suppress ALL -->


<div class="content" ng-controller="StudyContentDetailController">
    <div class="banner flash-banner">
        <div class="container">
            <div layout-xs="row" layout-gt-xs="row"></div>
        </div>
    </div>

    <section class="studyContentDetail test-section">
        <div class="container">
            <md-content class="text-heading">
                <h3 class="text-center">{$ item.header $}</h3>
            </md-content>
            <md-content class="md-whiteframe-7dp md-content-curved">
                <div ng-cloak layout="column" class="studydetails">
                    <md-toolbar layout="row" class="md-hue-3">
                        <div class="md-toolbar-tools" layout-align="center">
                            <h2 class="md-display-3 ">Text</h2>
                        </div>
                    </md-toolbar>
                    <md-content class="md-padding text-content">
                        <div class="text-size" dynamic="item.text"></div>
                    </md-content>
                    <md-content class="control-section text-center">
                        <p>This text has ben taken from the following source for educational purposes, please visit the below link for the original text</p>
                        <p>Source: <a href="{$ item.sourceUrl $}" target="_blank">{$ item.sourceUrl $}</a></p>
                    </md-content>
                </div>
            </md-content>
        </div>
    </section>
</div>
