# Python compiled byte code
*.py[cod]
__pycache__/
temp.py

# SQLite3 database
*.sqlite3

# Node modules
node_modules/
npm-debug.log

# Misc
*.*~
*.log
*.todo

env/
/media/
/requirements.txt
/frontend/tmp/
/.idea/
touchreload
