<!-- <div class="payments-confirm-unsubscribe container">
    <div class="panel">
        <div class="panel-heading">
            Cancel Subscription Confirmation
        </div>

        <div class="panel-body text-center">
                    <h3></h3>
                    <hr>
                    <button class="btn action-button" ng-click="cancelSubscription()">Cancel Subscription</button>
                    <button class="btn action-button" ng-click="continueSubscription()">Continue using subscription
                    </button>
        </div>
    </div>

</div> -->
<div class="banner flash-banner">
    <div class="container">
        <div layout-xs="row" layout-gt-xs="row"></div>
    </div>
</div>
<section class="ptb40px checkout">
    <div class="container">
        <div layout="row" layout-align="center center">
            <div flex-xs="100" flex-gt-xs="80"  >
                <md-content class="md-whiteframe-4dp ">
                    <md-toolbar layout="row" class="md-hue-3 headline-blk" layout-align="center">
                        <div class="md-toolbar-tools" layout-align="center">
                            <h2 class="md-display-3">Cancel Subscription Confirmation</h2>
                        </div>
                    </md-toolbar>
                    <md-content class="payments-confirm-unsubscribe md-padding text-center">
                        <h3>Are you sure you want to cancel your subscription?</h3>
                        <md-button aria-label="Cancel Subscription" class="md-primary md-raised light-blue-btn" ng-click="cancelSubscription()">Cancel Subscription</md-button>
                        <md-button aria-label="Continue using subscription" class="md-primary md-raised light-blue-btn" ng-click="continueSubscription()">Continue using subscription</md-button>
                    </md-content>
                </md-content>
            </div>
        </div>
    </div>
</section>