{% extends "admin/change_form.html" %}
{% block after_field_sets %}{{ block.super }}
{% with original.filename|slice:":3" as fn %}
<h1>{{ fn }}</h1>
{% if fn == "mp3" %}
<audio controls>
  <source src="/media/{{ original.filename }}" type="audio/mpeg">
Your browser does not support the audio element.
</audio>
{% elif fn == "mp4" %}
<video controls>
  <source src="/media/{{ original.filename }}" type="video/mp4">
Your browser does not support the audio element.
</video>
{% else %}
<p>Add media file and save object to see mediaplayer</p>
{% endif %}
{% endwith %}
{% endblock %}
