<div ng-controller="LessonListController">
    <div class="content">
        <div class="banner flash-banner">
            <div class="container">
                <div layout-xs="row" layout-gt-xs="row"></div>
            </div>
        </div>

        <section class="lesson-section">
            <div class="container">
                <div layout="column">
                    <div flex="100" ng-cloak class="flash-list">
                        <div layout="column" ng-cloak>
                            <div class="lesson-head">
                                <md-toolbar layout="row">
                                    <div layout="row" layout-align="center" flex>
                                        <h2 class="md-display-8">  <strong> Lessons </strong> </h2>
                                    </div>
                                </md-toolbar>
                                <md-content class="md-padding">
                                    <p> These lessons are suitable for complete beginners of Chinese through to intermediate levels. They cover all the basic aspects of Mandarin Chinese grammar and once completed should serve as a solid base for further study. The vocabulary contains all the HSK Levels 1 and 2 words and a significant part of HSK Level 3. Signed in users can keep track of which lessons they have completed by clicking
                                        <md-icon class="icon-check" aria-label="check"> </md-icon> the icon to mark a lesson as complete</p>
                                </md-content>
                            </div>
                            <div class="lesson-item " ng-repeat="lesson in lessons" md-whiteframe="5">
                                <div layout-xs="column" layout-gt-xs="row" >
                                    <div flex="100" flex-gt-xs="25" class="pr15px">
                                        <div layout="row" layout-align="center" flex class="lesson_fig">
                                            <!-- <a href="#"> <img src="/static/images/lesson_01.png" alt="lesson_01" /> </a> -->
                                            <a ui-sref="lesson_detail({lessonNumber: lesson.number})" class="lesson-thumbnail">
                                                <!-- <img src="{$ lesson.thumbnail $}" class="img-thumbnail lesson-thumbnail" alt="{$lesson.name$}" /> -->
                                                <img src="{$ lesson.thumbnail $}" alt="{$lesson.name$}" />
                                            </a>
                                        </div>
                                    </div>
                                    <div flex="100" flex-gt-xs="90">
                                        <div  layout="column" ng-cloak class="lesson_cont">
                                            <md-toolbar>
                                                <div class="md-toolbar-tools">
                                                    <!-- <h2 class="md-flex"> <strong> Lesson 1: </strong> Introduction &amp; Basic Greetings </h2> -->
                                                    <a ui-sref="lesson_detail({lessonNumber: lesson.number})">
                                                        <h3 class="md-flex"> <span>Lesson {$ lesson.number $}:</span>  {$ lesson.name $}</h3>
                                                    </a>
                                                </div>
                                            </md-toolbar>
                                            <md-content flex>
                                                <p class="marginTop">{$ lesson.description $}</p>
                                                <!-- <p>
                                                    If you're completely new to Chinese this is the place to start! This lesson with give you a very quick overview of the Chinese language before getting you right into the swing of things with same basic vocabulary. Learn the difference between Traditional and Simplified characters, and discover the Pinyin system.
                                                </p> -->
                                            </md-content>
                                            <div class="new-word-panel">
                                                <md-label> 
                                                    {$ lesson.new_words_count $} New words
                                                    <md-icon class="fa fa-check lesson-ok" ng-class="lesson.lesson_completed ? 'lesson-ok-green' : 'lesson-ok-gray'" ng-click="switchLearnedStatus(lesson.number)" aria-label="check"> </md-icon>
                                                </md-label>
                                                <a ui-sref="lesson_detail({lessonNumber: lesson.number})" class="md-raised md-primary light-blue-btn md-button md-ink-ripple">View Lesson</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>